
// Color assignments 




// Colors
@lightcolor: #EFF6EE;
@maincolor: #17408B;
@maincolor2: #C9082A;
@darkcolor: #273043;
@darkcolor2: #9197AE;


//
@containerWidth: 1200px;



// Breakpoints
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 768px)";